In [1]:
import json
import pandas as pd
from collections import defaultdict
from datasets import Dataset, DatasetDict, load_from_disk

In [2]:
with open('../dictio.json') as file:
    dictio = json.load(file)

In [3]:
lister = list(dictio.keys())

In [4]:
lister

['language',
 'db',
 'cloud_plat',
 'web',
 'misc',
 'tool',
 'dev_env',
 'os',
 'ml_ai']

In [5]:
dataset = load_from_disk("technology_mate")

In [6]:
type(dataset)

datasets.arrow_dataset.Dataset

In [7]:
len(dataset)

4268

In [8]:
df_t = dataset.to_pandas()

In [9]:
# df_t

In [10]:
df_t.drop(['__index_level_0__'], axis = 1, inplace=True)

In [11]:
for key in lister:
    df_t[key] = 0

In [13]:
print(df_t['technology'].sum())

4268

In [16]:
counter = defaultdict(dict)

In [17]:
for key in dictio:
    for entity in dictio[key]:
        indy = df_t[df_t['text'].str.contains(entity, case=False)].index
        leni = len(indy)
        if leni > 0:
            counter[key][entity] = leni
            df_t.at[indy, key] = 1

In [18]:
counter['language']

{'APL': 3,
 'Assembly': 3,
 'C#': 130,
 'Clojure': 1,
 'COBOL': 2,
 'Crystal': 2,
 'Dart': 1,
 'Elixir': 3,
 'Erlang': 2,
 'Groovy': 6,
 'Haskell': 1,
 'JavaScript': 231,
 'Julia': 2,
 'Kotlin': 13,
 'Matlab': 21,
 'Objective-C': 5,
 'Perl': 44,
 'PHP': 33,
 'PowerShell': 20,
 'Python': 725,
 'Ruby': 44,
 'Rust': 15,
 'Scala': 86,
 'Swift': 12,
 'TypeScript': 52,
 'VBA': 9,
 'C\\+\\+': 318,
 'Bash': 62,
 'Shell': 52,
 'HTML': 87,
 'CSS': 98,
 'JS': 148,
 'UML': 3,
 'C/': 84,
 ' C,': 33,
 ' R,': 43,
 'Java ': 112,
 'Java,': 179,
 'Go ': 23,
 ' SQL': 317,
 'Objective C': 3}

In [16]:
cdf = pd.DataFrame(columns=['type', 'tech', 'count'])

In [17]:
i = 0
for key in counter:
    for lock in counter[key]:
        count = counter[key][lock]
        cdf.at[i] = [key, lock, count] 
        i += 1

In [18]:
cdf

         type        tech count
0    language         APL     3
1    language    Assembly     3
2    language          C#   130
3    language     Clojure     1
4    language       COBOL     2
..        ...         ...   ...
144     ml_ai      Pandas    44
145     ml_ai     PyTorch    96
146     ml_ai  TensorFlow   135
147     ml_ai        CUDA    20
148     ml_ai       Spark   177

[149 rows x 3 columns]

In [19]:
cdf.to_csv('tech_counts.csv')