In [1]:
import json
import pandas as pd
from collections import defaultdict
from datasets import Dataset, DatasetDict, load_from_disk

In [2]:
with open('../dictio.json') as file:
    dictio = json.load(file)

In [3]:
lister = list(dictio.keys())

In [4]:
lister

['language',
 'db',
 'cloud_plat',
 'web',
 'misc',
 'tool',
 'dev_env',
 'os',
 'ml_ai']

In [5]:
dataset = load_from_disk("technology_mate")

In [6]:
type(dataset)

datasets.arrow_dataset.Dataset

In [7]:
len(dataset)

4268

In [8]:
df_t = dataset.to_pandas()

In [9]:
df_t

,ID,rownum,text,vector,characteristics,skills,knowledge,education,experience,licensing,tasks,technology,__index_level_0__
0,21120000,32,-Fluent in Python,"[1.7284571, 5.4065976, 2.7643697, 0.0, 3.60923...",0,0,0,0,0,0,0,1,32
1,21120000,34,"-Numpy, Pandas, SciKit Learn","[0.9630493, 4.5101986, 4.3217683, 1.5772657, 4...",0,0,0,0,0,0,0,1,34
2,21120000,35,-Pytorch/ Tensorflow,"[0.77844596, 4.1698484, 3.685791, 1.3213146, 4...",0,0,0,0,0,0,0,1,35
3,21120001,11,"Develop modeling tools, training recipes, and ...","[1.8754358, 1.6910514, 4.4068537, 3.811725, 3....",0,0,0,0,0,0,1,1,62
4,21120001,15,"In connection with the above duties, apply kno...","[1.0316418, 1.5662135, 3.4645085, 1.9919258, 3...",0,0,0,0,0,0,1,1,66
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4263,21010691,23,"You are expert in data mining, machine learnin...","[1.849313, 3.841259, 1.1690421, 0.18912286, 3....",0,1,0,0,0,0,0,1,65467
4264,21010691,24,You have over ten years of experience or demon...,"[0.34398478, 2.2746296, 0.2923308, 2.319241, 3...",0,0,0,0,1,0,0,1,65468
4265,21010691,25,You have over ten years of experience working ...,"[0.0, 1.715601, 1.5144132, 3.019465, 4.664411,...",0,0,0,0,1,0,0,1,65469
4266,21010691,26,You have experience setting up and using large...,"[2.0424194, 4.269342, 0.67640674, 0.0, 2.47688...",0,1,0,0,0,0,0,1,65470
4267,21010691,27,You have experience working with enterprise-gr...,"[1.8935864, 3.9178731, 0.661463, 0.0, 3.054381...",0,1,0,0,0,0,0,1,65471

In [10]:
df_t.drop(['__index_level_0__'], axis = 1, inplace=True)

In [11]:
for key in lister:
    df_t[key] = 0

In [12]:
df_t

,ID,rownum,text,vector,characteristics,skills,knowledge,education,experience,licensing,...,technology,language,db,cloud_plat,web,misc,tool,dev_env,os,ml_ai
0,21120000,32,-Fluent in Python,"[1.7284571, 5.4065976, 2.7643697, 0.0, 3.60923...",0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
1,21120000,34,"-Numpy, Pandas, SciKit Learn","[0.9630493, 4.5101986, 4.3217683, 1.5772657, 4...",0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
2,21120000,35,-Pytorch/ Tensorflow,"[0.77844596, 4.1698484, 3.685791, 1.3213146, 4...",0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
3,21120001,11,"Develop modeling tools, training recipes, and ...","[1.8754358, 1.6910514, 4.4068537, 3.811725, 3....",0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4,21120001,15,"In connection with the above duties, apply kno...","[1.0316418, 1.5662135, 3.4645085, 1.9919258, 3...",0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4263,21010691,23,"You are expert in data mining, machine learnin...","[1.849313, 3.841259, 1.1690421, 0.18912286, 3....",0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4264,21010691,24,You have over ten years of experience or demon...,"[0.34398478, 2.2746296, 0.2923308, 2.319241, 3...",0,0,0,0,1,0,...,1,0,0,0,0,0,0,0,0,0
4265,21010691,25,You have over ten years of experience working ...,"[0.0, 1.715601, 1.5144132, 3.019465, 4.664411,...",0,0,0,0,1,0,...,1,0,0,0,0,0,0,0,0,0
4266,21010691,26,You have experience setting up and using large...,"[2.0424194, 4.269342, 0.67640674, 0.0, 2.47688...",0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4267,21010691,27,You have experience working with enterprise-gr...,"[1.8935864, 3.9178731, 0.661463, 0.0, 3.054381...",0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0

In [13]:
print(df_t['technology'].sum())

4268

In [14]:
counter = defaultdict(dict)

In [15]:
for key in dictio:
    for entity in dictio[key]:
        indy = df_t[df_t['text'].str.contains(entity, case=False)].index
        leni = len(indy)
        if leni > 0:
            counter[key][entity] = leni
            df_t.at[indy, key] = 1

InvalidIndexError: Int64Index([3774, 3775, 3776], dtype='int64')

In [ ]:
counter

In [ ]:
cdf = pd.DataFrame(columns=['type', 'tech', 'count'])

In [ ]:
i = 0
for key in counter:
    for lock in counter[key]:
        count = counter[key][lock]
        cdf.at[i] = [key, lock, count] 
        i += 1

In [ ]:
cdf

In [ ]:
cdf.to_csv('tech_counts.csv')